body{
    width: 100%;
    height: 100vh;
    background: green;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    margin: auto;
    width: 70%;
    text-align: center;
}
.dice{
    display: inline-block;
    text-align: center;
}
